openapi: 3.2.0
info:
  title: Madaket Health Provider Provider Credentialing Contact API
  version: '2.0'
  description: RESTful JSON endpoints published by Madaket Health for clean, high-quality US healthcare provider data — provider demographics, licensure, credentialing, education, sanctions and payer records.
  contact:
    name: Madaket Health
    url: https://www.madakethealth.com/
servers:
- url: https://provider.madakethealth.com/provider-services
  description: 'Production (probed 2026-08-25: HTTP 503)'
security:
- api_key: []
  auth_token: []
tags:
- name: ProviderCredentialingContact
paths:
  /api/v2.0/provider-credentialing-contact/filter:
    post:
      tags:
      - ProviderCredentialingContact
      summary: list all ProviderCredentialingContact resources using the given filter criteria
      operationId: providerCredentialingContactFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderCredentialingContact'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCredentialingContactAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/provider-credentialing-contact:
    get:
      tags:
      - ProviderCredentialingContact
      summary: list all ProviderCredentialingContact resources that belong to the given…
      operationId: providerCredentialingContactList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderCredentialingContact'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/provider-credentialing-contact/{id}:
    get:
      tags:
      - ProviderCredentialingContact
      summary: get a specific ProviderCredentialingContact using its unique ID
      operationId: providerCredentialingContactLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialingContact'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/provider-credentialing-contact/search:
    post:
      tags:
      - ProviderCredentialingContact
      summary: search through all ProviderCredentialingContact resources using the given…
      operationId: providerCredentialingContactSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderCredentialingContact'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCredentialingContactAuthorizedSearchQuery'
components:
  schemas:
    ProviderCredentialingContactAuthorizedSearchQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
    Contact:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: string
          format: date-time
        prefix:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        middleName:
          type: string
        suffix:
          type: string
        title:
          type: string
        phone:
          type: string
        phoneExtension:
          type: string
        cellPhone:
          type: string
        fax:
          type: string
        email:
          type: string
        pager:
          type: string
        street1:
          type: string
        street2:
          type: string
        city:
          type: string
        state:
          type: string
          enum:
          - AK
          - AL
          - AR
          - AS
          - AZ
          - CA
          - CO
          - CT
          - DC
          - DE
          - FL
          - FM
          - GA
          - GU
          - HI
          - IA
          - ID
          - IL
          - IN
          - KS
          - KY
          - LA
          - MA
          - MD
          - ME
          - MH
          - MI
          - MN
          - MO
          - MP
          - MS
          - MT
          - NC
          - ND
          - NE
          - NH
          - NJ
          - NM
          - NV
          - NY
          - OH
          - OK
          - OR
          - PA
          - PR
          - PW
          - RI
          - SC
          - SD
          - TN
          - TX
          - UNKNOWN
          - UT
          - VA
          - VI
          - VT
          - WA
          - WI
          - WV
          - WY
        zip:
          type: string
        zipExtension:
          type: string
        county:
          type: string
        province:
          type: string
        country:
          type: string
          enum:
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CR
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - 'NO'
          - NP
          - NR
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SV
          - SX
          - SY
          - SZ
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XK
          - YE
          - YT
          - ZA
          - ZM
          - ZW
        preferredCorrespondence:
          type: string
          enum:
          - EMAIL
          - FAX
          - MAIL
          - PHONE
          - UNSPECIFIED
    ProviderCredentialingContactAuthorizedFilterQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
        providerGuid:
          type: array
          items:
            type: string
    ProviderCredentialingContact:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: string
          format: date-time
        providerGuid:
          type: string
        source:
          type: string
        sourceTimestamp:
          type: string
          format: date-time
        contact:
          $ref: '#/components/schemas/Contact'
        isPrimaryContact:
          type: boolean
        locationType:
          type: string
          enum:
          - HOSPITAL_AFFILIATION
          - PRACTICE_LOCATION
          - UNKNOWN
        location:
          type: string
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: api_key
      description: Madaket-issued API key. Issued on request; contact Madaket.
    auth_token:
      type: apiKey
      in: query
      name: auth_token
      description: URL-safe Base64 of SHA-256(api_key + api_secret + yyyy-mm-dd-HH-M GMT window). Valid up to 10 minutes.
