openapi: 3.2.0
info:
  title: Madaket Health Provider Commercial Payer API
  version: '2.0'
  description: RESTful JSON endpoints published by Madaket Health for clean, high-quality US healthcare provider data — provider demographics, licensure, credentialing, education, sanctions and payer records.
  contact:
    name: Madaket Health
    url: https://www.madakethealth.com/
servers:
- url: https://provider.madakethealth.com/provider-services
  description: 'Production (probed 2026-08-25: HTTP 503)'
security:
- api_key: []
  auth_token: []
tags:
- name: CommercialPayer
paths:
  /api/v2.0/commercial-payer/filter:
    post:
      tags:
      - CommercialPayer
      summary: list all CommercialPayer resources using the given filter criteria
      operationId: commercialPayerFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommercialPayer'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommercialPayerAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/commercial-payer:
    get:
      tags:
      - CommercialPayer
      summary: list all CommercialPayer resources that belong to the given Provider
      operationId: commercialPayerList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommercialPayer'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/commercial-payer/{id}:
    get:
      tags:
      - CommercialPayer
      summary: get a specific CommercialPayer using its unique ID
      operationId: commercialPayerLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommercialPayer'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/commercial-payer/search:
    post:
      tags:
      - CommercialPayer
      summary: search through all CommercialPayer resources using the given search criteria
      operationId: commercialPayerSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommercialPayer'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommercialPayerAuthorizedSearchQuery'
components:
  schemas:
    CommercialPayer:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: string
          format: date-time
        providerGuid:
          type: string
        source:
          type: string
        sourceTimestamp:
          type: string
          format: date-time
        payerGuid:
          type: string
        practiceLocationGuid:
          type: string
        idNumber:
          type: string
    CommercialPayerAuthorizedFilterQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
        payerGuid:
          type: array
          items:
            type: string
        practiceLocationGuid:
          type: array
          items:
            type: string
        providerGuid:
          type: array
          items:
            type: string
    CommercialPayerAuthorizedSearchQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: api_key
      description: Madaket-issued API key. Issued on request; contact Madaket.
    auth_token:
      type: apiKey
      in: query
      name: auth_token
      description: URL-safe Base64 of SHA-256(api_key + api_secret + yyyy-mm-dd-HH-M GMT window). Valid up to 10 minutes.
