openapi: 3.2.0
info:
  title: Madaket Health Provider Oig Exclusion Code API
  version: '2.0'
  description: RESTful JSON endpoints published by Madaket Health for clean, high-quality US healthcare provider data — provider demographics, licensure, credentialing, education, sanctions and payer records.
  contact:
    name: Madaket Health
    url: https://www.madakethealth.com/
servers:
- url: https://provider.madakethealth.com/provider-services
  description: 'Production (probed 2026-08-25: HTTP 503)'
security:
- api_key: []
  auth_token: []
tags:
- name: OigExclusionCode
paths:
  /api/v2.0/oig-exclusion-code/{code}:
    get:
      tags:
      - OigExclusionCode
      summary: gives the friendly name for the given Oig Exclusion code
      operationId: oigExclusionCodeDescribe
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OigExclusion'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/oig-exclusion-code:
    get:
      tags:
      - OigExclusionCode
      summary: lists all available Oig Exclusion reasons with their definitions
      operationId: oigExclusionCodeListAll
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OigExclusion'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
components:
  schemas:
    OigExclusion:
      type: object
      properties:
        oigCode:
          type: string
        socialSecurityAct:
          type: string
        usCode42:
          type: string
        amendment:
          type: string
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: api_key
      description: Madaket-issued API key. Issued on request; contact Madaket.
    auth_token:
      type: apiKey
      in: query
      name: auth_token
      description: URL-safe Base64 of SHA-256(api_key + api_secret + yyyy-mm-dd-HH-M GMT window). Valid up to 10 minutes.
