openapi: 3.2.0
info:
  title: Madaket Health Provider Cds License API
  version: '2.0'
  description: 'RESTful JSON endpoints published by Madaket Health for clean, high-quality US healthcare provider data — provider demographics, licensure, credentialing, education, sanctions and payer records.


    PROVENANCE: this description was RECONSTRUCTED by API Evangelist from Madaket''s own first-party npm client @madaket/provider-api-client-js@0.0.3 (swagger-codegen 2.2.3 output), because Madaket''s published Swagger URL https://provider.madakethealth.com/provider-services/api-spec/api-spec.json returned HTTP 503 when probed on 2026-08-25. Paths, verbs, summaries, parameters, request/response models and security schemes are taken verbatim from that generated client. operationIds were normalized to <tag><Operation> because swagger-codegen namespaces them per API class and they are not globally unique in the generated output. This is NOT a document Madaket serves.'
  contact:
    name: Madaket Health
    url: https://www.madakethealth.com/
servers:
- url: https://provider.madakethealth.com/provider-services
  description: 'Production (probed 2026-08-25: HTTP 503)'
security:
- api_key: []
  auth_token: []
tags:
- name: CdsLicense
paths:
  /api/v2.0/cds-license/filter:
    post:
      tags:
      - CdsLicense
      summary: list all CdsLicense resources using the given filter criteria
      operationId: cdsLicenseFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CdsLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CdsLicenseAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/cds-license:
    get:
      tags:
      - CdsLicense
      summary: list all CdsLicense resources that belong to the given Provider
      operationId: cdsLicenseList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CdsLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/cds-license/{id}:
    get:
      tags:
      - CdsLicense
      summary: get a specific CdsLicense using its unique ID
      operationId: cdsLicenseLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdsLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/cds-license/search:
    post:
      tags:
      - CdsLicense
      summary: search through all CdsLicense resources using the given search criteria
      operationId: cdsLicenseSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CdsLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CdsLicenseAuthorizedSearchQuery'
components:
  schemas:
    CdsLicenseAuthorizedFilterQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
        cdsStatus:
          type: array
          items:
            type: string
        providerGuid:
          type: array
          items:
            type: string
    ProviderFileStub:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: string
          format: date-time
        name:
          type: string
        extension:
          type: string
        mimeType:
          type: string
        size:
          type: number
        fileAttachmentGuid:
          type: string
        documentType:
          type: string
          enum:
          - AdverseAction
          - Application
          - Application_Release
          - Application_Report_Csv
          - Application_Report_Txt
          - Board_Certification
          - CAQH_UPLOAD
          - CDS
          - CLIA_Certification
          - Certificate_for_Conducting_Xray_and_or_Laboratory_Services
          - Certificate_of_Advanced_Nurse_Practitioners
          - Certificate_or_Letter_Certifying_Formal_Post_Graduate_Training
          - Certificates_of_Completion
          - Chemical_Substances_or_Alcohol_Abuse
          - Correspondence
          - Criminal_Actions
          - DD214__Record_of_Military_Service
          - DEA
          - DEA_Waiver
          - DPS
          - Diploma
          - Diplomate_of_National_Board_of_Medical_Examiners_Certificate
          - Disclosure
          - Disclosure_of_Ownership
          - Drivers_License
          - ECFMG
          - Exam_Certification
          - Graduate_Diploma
          - Hospital_Letter__Verification_of_Hospital_Credentialing__or_Alternative_Pathways
          - Individual_Npi_Letter
          - Letter_of_Self_Insurance_Explanation_of_No_Insurance
          - Liability_Insurance
          - License_Application
          - License_Attachment
          - Malpractice_Claim_Information_Document_for_Nevada_State
          - Malpractice_Explanation
          - Malpractice_Insurance
          - Maryland_State_License_Certificate
          - Medical_Condition
          - Medical_Degree
          - National_Provider_Identification_Certificate
          - Opt_Out
          - Other
          - Other_Certificate
          - Photo
          - Problem_Resolution_System_Letter
          - Professional_Liability_Actions
          - Professional_Liability_Insurance
          - Radiology_Certification
          - Reference_Letter
          - Resume
          - Schedule_AP1
          - Schedule_B_Professional_Liability_Claims_Information_Form_for_Georgia_State
          - Schedule_C_Regulation_Acknowledgement
          - Scholar_Visa_IAP_66
          - Section_D___Attestation_Questions
          - Social_Security_Card
          - State_Application_Addendum
          - State_Authorization
          - State_License
          - State_License_MD
          - State_Release
          - TB_Skin_Test
          - Therapeutic_Diagnostic_Pharmaceutical_Agents_License
          - Visa_Document
          - W_9
          - Workers_Compensation_Certificate_of_Coverage
    CdsLicenseAuthorizedSearchQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
        cdsNumber:
          type: array
          items:
            type: string
    CdsLicense:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: string
          format: date-time
        providerGuid:
          type: string
        source:
          type: string
        sourceTimestamp:
          type: string
          format: date-time
        cdsRegistration:
          type: boolean
        cdsNumber:
          type: string
        state:
          type: string
          enum:
          - AK
          - AL
          - AR
          - AS
          - AZ
          - CA
          - CO
          - CT
          - DC
          - DE
          - FL
          - FM
          - GA
          - GU
          - HI
          - IA
          - ID
          - IL
          - IN
          - KS
          - KY
          - LA
          - MA
          - MD
          - ME
          - MH
          - MI
          - MN
          - MO
          - MP
          - MS
          - MT
          - NC
          - ND
          - NE
          - NH
          - NJ
          - NM
          - NV
          - NY
          - OH
          - OK
          - OR
          - PA
          - PR
          - PW
          - RI
          - SC
          - SD
          - TN
          - TX
          - UNKNOWN
          - UT
          - VA
          - VI
          - VT
          - WA
          - WI
          - WV
          - WY
        issueDate:
          type: string
          format: date-time
        expirationDate:
          type: string
          format: date-time
        certificate:
          $ref: '#/components/schemas/ProviderFileStub'
        licenseStatus:
          type: string
          enum:
          - ACTIVE
          - ACTIVE_WITH_RESTRICTIONS
          - FULL
          - INACTIVE
          - INACTIVE_WITH_RESTRICTIONS
          - LAPSED
          - LIMITED
          - RESIGNED
          - RETIRED
          - REVOKED
          - SUMMARY_SUSPENSION
          - SUSPENDED
          - TEMPORARY
          - UNKNOWN
          - VOLUNTARY_AGREEMENT_NOT_TO_PRACTICE
        currentlyPracticingInState:
          type: boolean
        noLicense:
          type: boolean
        reason:
          type: string
        cdsStatus:
          type: string
          enum:
          - UNKNOWN
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: api_key
      description: Madaket-issued API key. Issued on request; contact Madaket.
    auth_token:
      type: apiKey
      in: query
      name: auth_token
      description: URL-safe Base64 of SHA-256(api_key + api_secret + yyyy-mm-dd-HH-M GMT window). Valid up to 10 minutes.
