openapi: 3.2.0
info:
  title: Madaket Health Provider Provider Usmle API
  version: '2.0'
  description: RESTful JSON endpoints published by Madaket Health for clean, high-quality US healthcare provider data — provider demographics, licensure, credentialing, education, sanctions and payer records.
  contact:
    name: Madaket Health
    url: https://www.madakethealth.com/
servers:
- url: https://provider.madakethealth.com/provider-services
  description: 'Production (probed 2026-08-25: HTTP 503)'
security:
- api_key: []
  auth_token: []
tags:
- name: ProviderUsmle
paths:
  /api/v2.0/provider-usmle/filter:
    post:
      tags:
      - ProviderUsmle
      summary: list all ProviderUsmle resources using the given filter criteria
      operationId: providerUsmleFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderUsmle'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderUsmleAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/provider-usmle:
    get:
      tags:
      - ProviderUsmle
      summary: list all ProviderUsmle resources that belong to the given Provider
      operationId: providerUsmleList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderUsmle'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/provider-usmle/{id}:
    get:
      tags:
      - ProviderUsmle
      summary: get a specific ProviderUsmle using its unique ID
      operationId: providerUsmleLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderUsmle'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/provider-usmle/search:
    post:
      tags:
      - ProviderUsmle
      summary: search through all ProviderUsmle resources using the given search criteria
      operationId: providerUsmleSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderUsmle'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderUsmleAuthorizedSearchQuery'
components:
  schemas:
    ProviderUsmleAuthorizedFilterQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
        providerGuid:
          type: array
          items:
            type: string
    ProviderUsmleAuthorizedSearchQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
    ProviderUsmle:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: string
          format: date-time
        providerGuid:
          type: string
        source:
          type: string
        sourceTimestamp:
          type: string
          format: date-time
        passedAllThreeParts:
          type: boolean
        explanation:
          type: string
        usmleId:
          type: string
        examStep1Date:
          type: string
          format: date-time
        examStep2Date:
          type: string
          format: date-time
        examStep3Date:
          type: string
          format: date-time
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: api_key
      description: Madaket-issued API key. Issued on request; contact Madaket.
    auth_token:
      type: apiKey
      in: query
      name: auth_token
      description: URL-safe Base64 of SHA-256(api_key + api_secret + yyyy-mm-dd-HH-M GMT window). Valid up to 10 minutes.
