openapi: 3.2.0
info:
  title: Madaket Health Provider Disclosure Statement API
  version: '2.0'
  description: RESTful JSON endpoints published by Madaket Health for clean, high-quality US healthcare provider data — provider demographics, licensure, credentialing, education, sanctions and payer records.
  contact:
    name: Madaket Health
    url: https://www.madakethealth.com/
servers:
- url: https://provider.madakethealth.com/provider-services
  description: 'Production (probed 2026-08-25: HTTP 503)'
security:
- api_key: []
  auth_token: []
tags:
- name: DisclosureStatement
paths:
  /api/v2.0/disclosure-statement/filter:
    post:
      tags:
      - DisclosureStatement
      summary: list all DisclosureStatement resources using the given filter criteria
      operationId: disclosureStatementFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DisclosureStatement'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisclosureStatementFilterQuery'
  /api/v2.0/disclosure-statement/{id}:
    get:
      tags:
      - DisclosureStatement
      summary: get a specific DisclosureStatement using its unique ID
      operationId: disclosureStatementLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisclosureStatement'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/disclosure-statement/search:
    post:
      tags:
      - DisclosureStatement
      summary: search through all DisclosureStatement resources using the given search criteria
      operationId: disclosureStatementSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DisclosureStatement'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisclosureStatementSearchQuery'
components:
  schemas:
    DisclosureStatementSearchQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
    DisclosureStatement:
      type: object
      properties:
        id:
          type: string
        statement:
          type: string
        category:
          type: string
          enum:
          - DEA_CDS
          - EDUCATION_TRAINING_BOARD
          - HOSPITAL_PRIVILEGES
          - LICENSURE
          - MEDICARE_MEDICAID_GOVERNMENTAL
          - SANCTIONS_INVESTIGATIONS
        positionIndex:
          type: number
        name:
          type: string
        description:
          type: string
    DisclosureStatementFilterQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: api_key
      description: Madaket-issued API key. Issued on request; contact Madaket.
    auth_token:
      type: apiKey
      in: query
      name: auth_token
      description: URL-safe Base64 of SHA-256(api_key + api_secret + yyyy-mm-dd-HH-M GMT window). Valid up to 10 minutes.
