openapi: 3.2.0
info:
  title: Madaket Health Provider Social Security Card API
  version: '2.0'
  description: 'RESTful JSON endpoints published by Madaket Health for clean, high-quality US healthcare provider data — provider demographics, licensure, credentialing, education, sanctions and payer records.


    PROVENANCE: this description was RECONSTRUCTED by API Evangelist from Madaket''s own first-party npm client @madaket/provider-api-client-js@0.0.3 (swagger-codegen 2.2.3 output), because Madaket''s published Swagger URL https://provider.madakethealth.com/provider-services/api-spec/api-spec.json returned HTTP 503 when probed on 2026-08-25. Paths, verbs, summaries, parameters, request/response models and security schemes are taken verbatim from that generated client. operationIds were normalized to <tag><Operation> because swagger-codegen namespaces them per API class and they are not globally unique in the generated output. This is NOT a document Madaket serves.'
  contact:
    name: Madaket Health
    url: https://www.madakethealth.com/
servers:
- url: https://provider.madakethealth.com/provider-services
  description: 'Production (probed 2026-08-25: HTTP 503)'
security:
- api_key: []
  auth_token: []
tags:
- name: SocialSecurityCard
paths:
  /api/v2.0/social-security-card/filter:
    post:
      tags:
      - SocialSecurityCard
      summary: list all SocialSecurityCard resources using the given filter criteria
      operationId: socialSecurityCardFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SocialSecurityCard'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialSecurityCardAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/social-security-card:
    get:
      tags:
      - SocialSecurityCard
      summary: list all SocialSecurityCard resources that belong to the given Provider
      operationId: socialSecurityCardList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SocialSecurityCard'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/social-security-card/{id}:
    get:
      tags:
      - SocialSecurityCard
      summary: get a specific SocialSecurityCard using its unique ID
      operationId: socialSecurityCardLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialSecurityCard'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/social-security-card/search:
    post:
      tags:
      - SocialSecurityCard
      summary: search through all SocialSecurityCard resources using the given search criteria
      operationId: socialSecurityCardSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SocialSecurityCard'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialSecurityCardAuthorizedSearchQuery'
components:
  schemas:
    SocialSecurityCard:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: string
          format: date-time
        providerGuid:
          type: string
        source:
          type: string
        sourceTimestamp:
          type: string
          format: date-time
        socialSecurityCard:
          $ref: '#/components/schemas/ProviderFileStub'
    ProviderFileStub:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: string
          format: date-time
        name:
          type: string
        extension:
          type: string
        mimeType:
          type: string
        size:
          type: number
        fileAttachmentGuid:
          type: string
        documentType:
          type: string
          enum:
          - AdverseAction
          - Application
          - Application_Release
          - Application_Report_Csv
          - Application_Report_Txt
          - Board_Certification
          - CAQH_UPLOAD
          - CDS
          - CLIA_Certification
          - Certificate_for_Conducting_Xray_and_or_Laboratory_Services
          - Certificate_of_Advanced_Nurse_Practitioners
          - Certificate_or_Letter_Certifying_Formal_Post_Graduate_Training
          - Certificates_of_Completion
          - Chemical_Substances_or_Alcohol_Abuse
          - Correspondence
          - Criminal_Actions
          - DD214__Record_of_Military_Service
          - DEA
          - DEA_Waiver
          - DPS
          - Diploma
          - Diplomate_of_National_Board_of_Medical_Examiners_Certificate
          - Disclosure
          - Disclosure_of_Ownership
          - Drivers_License
          - ECFMG
          - Exam_Certification
          - Graduate_Diploma
          - Hospital_Letter__Verification_of_Hospital_Credentialing__or_Alternative_Pathways
          - Individual_Npi_Letter
          - Letter_of_Self_Insurance_Explanation_of_No_Insurance
          - Liability_Insurance
          - License_Application
          - License_Attachment
          - Malpractice_Claim_Information_Document_for_Nevada_State
          - Malpractice_Explanation
          - Malpractice_Insurance
          - Maryland_State_License_Certificate
          - Medical_Condition
          - Medical_Degree
          - National_Provider_Identification_Certificate
          - Opt_Out
          - Other
          - Other_Certificate
          - Photo
          - Problem_Resolution_System_Letter
          - Professional_Liability_Actions
          - Professional_Liability_Insurance
          - Radiology_Certification
          - Reference_Letter
          - Resume
          - Schedule_AP1
          - Schedule_B_Professional_Liability_Claims_Information_Form_for_Georgia_State
          - Schedule_C_Regulation_Acknowledgement
          - Scholar_Visa_IAP_66
          - Section_D___Attestation_Questions
          - Social_Security_Card
          - State_Application_Addendum
          - State_Authorization
          - State_License
          - State_License_MD
          - State_Release
          - TB_Skin_Test
          - Therapeutic_Diagnostic_Pharmaceutical_Agents_License
          - Visa_Document
          - W_9
          - Workers_Compensation_Certificate_of_Coverage
    SocialSecurityCardAuthorizedSearchQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
    SocialSecurityCardAuthorizedFilterQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
        providerGuid:
          type: array
          items:
            type: string
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: api_key
      description: Madaket-issued API key. Issued on request; contact Madaket.
    auth_token:
      type: apiKey
      in: query
      name: auth_token
      description: URL-safe Base64 of SHA-256(api_key + api_secret + yyyy-mm-dd-HH-M GMT window). Valid up to 10 minutes.
