openapi: 3.2.0
info:
  title: Madaket Health Provider Employment Gap API
  version: '2.0'
  description: RESTful JSON endpoints published by Madaket Health for clean, high-quality US healthcare provider data — provider demographics, licensure, credentialing, education, sanctions and payer records.
  contact:
    name: Madaket Health
    url: https://www.madakethealth.com/
servers:
- url: https://provider.madakethealth.com/provider-services
  description: 'Production (probed 2026-08-25: HTTP 503)'
security:
- api_key: []
  auth_token: []
tags:
- name: EmploymentGap
paths:
  /api/v2.0/employment-gap/filter:
    post:
      tags:
      - EmploymentGap
      summary: list all EmploymentGap resources using the given filter criteria
      operationId: employmentGapFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmploymentGap'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentGapAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/employment-gap:
    get:
      tags:
      - EmploymentGap
      summary: list all EmploymentGap resources that belong to the given Provider
      operationId: employmentGapList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmploymentGap'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/employment-gap/{id}:
    get:
      tags:
      - EmploymentGap
      summary: get a specific EmploymentGap using its unique ID
      operationId: employmentGapLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentGap'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/employment-gap/search:
    post:
      tags:
      - EmploymentGap
      summary: search through all EmploymentGap resources using the given search criteria
      operationId: employmentGapSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmploymentGap'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentGapAuthorizedSearchQuery'
components:
  schemas:
    EmploymentGap:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: string
          format: date-time
        providerGuid:
          type: string
        source:
          type: string
        sourceTimestamp:
          type: string
          format: date-time
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        explanation:
          type: string
    EmploymentGapAuthorizedSearchQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
    EmploymentGapAuthorizedFilterQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
        providerGuid:
          type: array
          items:
            type: string
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: api_key
      description: Madaket-issued API key. Issued on request; contact Madaket.
    auth_token:
      type: apiKey
      in: query
      name: auth_token
      description: URL-safe Base64 of SHA-256(api_key + api_secret + yyyy-mm-dd-HH-M GMT window). Valid up to 10 minutes.
