openapi: 3.2.0
info:
  title: Madaket Health Provider Provider Certification API
  version: '2.0'
  description: RESTful JSON endpoints published by Madaket Health for clean, high-quality US healthcare provider data — provider demographics, licensure, credentialing, education, sanctions and payer records.
  contact:
    name: Madaket Health
    url: https://www.madakethealth.com/
servers:
- url: https://provider.madakethealth.com/provider-services
  description: 'Production (probed 2026-08-25: HTTP 503)'
security:
- api_key: []
  auth_token: []
tags:
- name: ProviderCertification
paths:
  /api/v2.0/provider-certification/filter:
    post:
      tags:
      - ProviderCertification
      summary: list all ProviderCertification resources using the given filter criteria
      operationId: providerCertificationFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderCertification'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCertificationAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/provider-certification:
    get:
      tags:
      - ProviderCertification
      summary: list all ProviderCertification resources that belong to the given Provider
      operationId: providerCertificationList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderCertification'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/provider-certification/{id}:
    get:
      tags:
      - ProviderCertification
      summary: get a specific ProviderCertification using its unique ID
      operationId: providerCertificationLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCertification'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/provider-certification/search:
    post:
      tags:
      - ProviderCertification
      summary: search through all ProviderCertification resources using the given search…
      operationId: providerCertificationSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderCertification'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCertificationAuthorizedSearchQuery'
components:
  schemas:
    ProviderCertificationAuthorizedSearchQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
    ProviderCertification:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: string
          format: date-time
        providerGuid:
          type: string
        source:
          type: string
        sourceTimestamp:
          type: string
          format: date-time
        certificationType:
          type: string
          enum:
          - ADVANCED_CARDIAC_LIFE_SUPPORT
          - ADVANCED_LIFE_SUPPORT_IN_OB
          - ADVANCED_TRAUMA_LIFE_SUPPORT
          - ANESTHESIA_PERMIT
          - BASIC_LIFE_SUPPORT
          - CARDIO_PULMONARY_RESUSCITATION
          - HEALTHCARE_PROVIDER
          - NEONATAL_ADVANCED_LIFE_SUPPORT
          - NEONATAL_RESUSCITATION_PROGRAM
          - OTHER
          - PEDIATRIC_ADVANCED_LIFE_SUPPORT
          - UNKNOWN
        certificationdDate:
          type: string
          format: date-time
        expirationDate:
          type: string
          format: date-time
        certificationNumber:
          type: string
        state:
          type: string
          enum:
          - AK
          - AL
          - AR
          - AS
          - AZ
          - CA
          - CO
          - CT
          - DC
          - DE
          - FL
          - FM
          - GA
          - GU
          - HI
          - IA
          - ID
          - IL
          - IN
          - KS
          - KY
          - LA
          - MA
          - MD
          - ME
          - MH
          - MI
          - MN
          - MO
          - MP
          - MS
          - MT
          - NC
          - ND
          - NE
          - NH
          - NJ
          - NM
          - NV
          - NY
          - OH
          - OK
          - OR
          - PA
          - PR
          - PW
          - RI
          - SC
          - SD
          - TN
          - TX
          - UNKNOWN
          - UT
          - VA
          - VI
          - VT
          - WA
          - WI
          - WV
          - WY
        type:
          type: string
        certificationId:
          type: string
    ProviderCertificationAuthorizedFilterQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
        certificationId:
          type: array
          items:
            type: string
        providerGuid:
          type: array
          items:
            type: string
        state:
          type: array
          items:
            type: string
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: api_key
      description: Madaket-issued API key. Issued on request; contact Madaket.
    auth_token:
      type: apiKey
      in: query
      name: auth_token
      description: URL-safe Base64 of SHA-256(api_key + api_secret + yyyy-mm-dd-HH-M GMT window). Valid up to 10 minutes.
