openapi: 3.2.0
info:
  title: Madaket Health Provider Residency API
  version: '2.0'
  description: 'RESTful JSON endpoints published by Madaket Health for clean, high-quality US healthcare provider data — provider demographics, licensure, credentialing, education, sanctions and payer records.


    PROVENANCE: this description was RECONSTRUCTED by API Evangelist from Madaket''s own first-party npm client @madaket/provider-api-client-js@0.0.3 (swagger-codegen 2.2.3 output), because Madaket''s published Swagger URL https://provider.madakethealth.com/provider-services/api-spec/api-spec.json returned HTTP 503 when probed on 2026-08-25. Paths, verbs, summaries, parameters, request/response models and security schemes are taken verbatim from that generated client. operationIds were normalized to <tag><Operation> because swagger-codegen namespaces them per API class and they are not globally unique in the generated output. This is NOT a document Madaket serves.'
  contact:
    name: Madaket Health
    url: https://www.madakethealth.com/
servers:
- url: https://provider.madakethealth.com/provider-services
  description: 'Production (probed 2026-08-25: HTTP 503)'
security:
- api_key: []
  auth_token: []
tags:
- name: Residency
paths:
  /api/v2.0/residency/filter:
    post:
      tags:
      - Residency
      summary: list all Residency resources using the given filter criteria
      operationId: residencyFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Residency'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResidencyAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/residency:
    get:
      tags:
      - Residency
      summary: list all Residency resources that belong to the given Provider
      operationId: residencyList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Residency'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/residency/{id}:
    get:
      tags:
      - Residency
      summary: get a specific Residency using its unique ID
      operationId: residencyLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Residency'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/residency/search:
    post:
      tags:
      - Residency
      summary: search through all Residency resources using the given search criteria
      operationId: residencySearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Residency'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResidencyAuthorizedSearchQuery'
components:
  schemas:
    Residency:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: string
          format: date-time
        providerGuid:
          type: string
        source:
          type: string
        sourceTimestamp:
          type: string
          format: date-time
        institution:
          $ref: '#/components/schemas/Institution'
        department:
          type: string
        affiliatedUniversity:
          $ref: '#/components/schemas/University'
        specialty:
          type: string
          enum:
          - UNKNOWN
          - _101Y00000X
          - _101YA0400X
          - _101YM0800X
          - _101YP1600X
          - _101YP2500X
          - _101YS0200X
          - _102L00000X
          - _102X00000X
          - _103G00000X
          - _103GC0700X
          - _103K00000X
          - _103T00000X
          - _103TA0400X
          - _103TA0700X
          - _103TB0200X
          - _103TC0700X
          - _103TC1900X
          - _103TC2200X
          - _103TE1000X
          - _103TE1100X
          - _103TF0000X
          - _103TF0200X
          - _103TH0004X
          - _103TH0100X
          - _103TM1700X
          - _103TM1800X
          - _103TP0016X
          - _103TP0814X
          - _103TP2700X
          - _103TP2701X
          - _103TR0400X
          - _103TS0200X
          - _103TW0100X
          - _104100000X
          - _1041C0700X
          - _1041S0200X
          - _106E00000X
          - _106H00000X
          - _106S00000X
          - _111N00000X
          - _111NI0013X
          - _111NI0900X
          - _111NN0400X
          - _111NN1001X
          - _111NP0017X
          - _111NR0200X
          - _111NR0400X
          - _111NS0005X
          - _111NT0100X
          - _111NX0100X
          - _111NX0800X
          - _122300000X
          - _1223D0001X
          - _1223D0004X
          - _1223E0200X
          - _1223G0001X
          - _1223P0106X
          - _1223P0221X
          - _1223P0300X
          - _1223P0700X
          - _1223S0112X
          - _1223X0008X
          - _1223X0400X
          - _122400000X
          - _124Q00000X
          - _125J00000X
          - _125K00000X
          - _125Q00000X
          - _126800000X
          - _126900000X
          - _132700000X
          - _133N00000X
          - _133NN1002X
          - _133V00000X
          - _133VN1004X
          - _133VN1005X
          - _133VN1006X
          - _136A00000X
          - _146D00000X
          - _146L00000X
          - _146M00000X
          - _146N00000X
          - _152W00000X
          - _152WC0802X
          - _152WL0500X
          - _152WP0200X
          - _152WS0006X
          - _152WV0400X
          - _152WX0102X
          - _156F00000X
          - _156FC0800X
          - _156FC0801X
          - _156FX1100X
          - _156FX1101X
          - _156FX1201X
          - _156FX1202X
          - _156FX1700X
          - _156FX1800X
          - _156FX1900X
          - _163W00000X
          - _163WA0400X
          - _163WA2000X
          - _163WC0200X
          - _163WC0400X
          - _163WC1400X
          - _163WC1500X
          - _163WC1600X
          - _163WC2100X
          - _163WC3500X
          - _163WD0400X
          - _163WD1100X
          - _163WE0003X
          - _163WE0900X
          - _163WF0300X
          - _163WG0000X
          - _163WG0100X
          - _163WG0600X
          - _163WH0200X
          - _163WH0500X
          - _163WH1000X
          - _163WI0500X
          - _163WI0600X
          - _163WL0100X
          - _163WM0102X
          - _163WM0705X
          - _163WM1400X
          - _163WN0002X
          - _163WN0003X
          - _163WN0300X
          - _163WN0800X
          - _163WN1003X
          - _163WP0000X
          - _163WP0200X
          - _163WP0218X
          - _163WP0807X
          - _163WP0808X
          - _163WP0809X
          - _163WP1700X
          - _163WP2201X
          - _163WR0006X
          - _163WR0400X
          - _163WR1000X
          - _163WS0121X
          - _163WS0200X
          - _163WU0100X
          - _163WW0000X
          - _163WW0101X
          - _163WX0002X
          - _163WX0003X
          - _163WX0106X
          - _163WX0200X
          - _163WX0601X
          - _163WX0800X
          - _163WX1100X
          - _163WX1500X
          - _164W00000X
          - _164X00000X
          - _167G00000X
          - _170100000X
          - _170300000X
          - _171000000X
          - _1710I1002X
          - _1710I1003X
          - _171100000X
          - _171M00000X
          - _171R00000X
          - _171W00000X
          - _171WH0202X
          - _171WV0202X
          - _172A00000X
          - _172M00000X
          - _172P00000X
          - _172V00000X
          - _173000000X
          - _173C00000X
          - _173F00000X
          - _174200000X
          - _174400000X
          - _1744G0900X
          - _1744P3200X
          - _1744R1102X
          - _1744R1103X
          - _174H00000X
          - _174M00000X
          - _174MM1900X
          - _174N00000X
          - _174V00000X
          - _175F00000X
          - _175L00000X
          - _175M00000X
          - _175T00000X
          - _176B00000X
          - _176P00000X
          - _177F00000X
          - _183500000X
          - _1835C0205X
          - _1835G0000X
          - _1835G0303X
          - _1835N0905X
          - _1835N1003X
          - _1835P0018X
          - _1835P0200X
          - _1835P1200X
          - _1835P1300X
          - _1835P2201X
          - _1835X0200X
          - _183700000X
          - _193200000X
          - _193400000X
          - _202C00000X
          - _202K00000X
          - _204C00000X
          - _204D00000X
          - _204E00000X
          - _204F00000X
          - _204R00000X
          - _207K00000X
          - _207KA0200X
          - _207KI0005X
          - _207L00000X
          - _207LA0401X
          - _207LC0200X
          - _207LH0002X
          - _207LP2900X
          - _207LP3000X
          - _207N00000X
          - _207ND0101X
          - _207ND0900X
          - _207NI0002X
          - _207NP0225X
          - _207NS0135X
          - _207P00000X
          - _207PE0004X
          - _207PE0005X
          - _207PH0002X
          - _207PP0204X
          - _207PS0010X
          - _207PT0002X
          - _207Q00000X
          - _207QA0000X
          - _207QA0401X
          - _207QA0505X
          - _207QB0002X
          - _207QG0300X
          - _207QH0002X
          - _207QS0010X
          - _207QS1201X
          - _207R00000X
          - _207RA0000X
          - _207RA0001X
          - _207RA0201X
          - _207RA0401X
          - _207RB0002X
          - _207RC0000X
          - _207RC0001X
          - _207RC0200X
          - _207RE0101X
          - _207RG0100X
          - _207RG0300X
          - _207RH0000X
          - _207RH0002X
          - _207RH0003X
          - _207RH0005X
          - _207RI0001X
          - _207RI0008X
          - _207RI0011X
          - _207RI0200X
          - _207RM1200X
          - _207RN0300X
          - _207RP1001X
          - _207RR0500X
          - _207RS0010X
          - _207RS0012X
          - _207RT0003X
          - _207RX0202X
          - _207SC0300X
          - _207SG0201X
          - _207SG0202X
          - _207SG0203X
          - _207SG0205X
          - _207SM0001X
          - _207T00000X
          - _207U00000X
          - _207UN0901X
          - _207UN0902X
          - _207UN0903X
          - _207V00000X
          - _207VB0002X
          - _207VC0200X
          - _207VE0102X
          - _207VF0040X
          - _207VG0400X
          - _207VH0002X
          - _207VM0101X
          - _207VX0000X
          - _207VX0201X
          - _207W00000X
          - _207WX0009X
          - _207WX0107X
          - _207WX0108X
          - _207WX0109X
          - _207WX0110X
          - _207WX0120X
          - _207WX0200X
          - _207X00000X
          - _207XP3100X
          - _207XS0106X
          - _207XS0114X
          - _207XS0117X
          - _207XX0004X
          - _207XX0005X
          - _207XX0801X
          - _207Y00000X
          - _207YP0228X
          - _207YS0012X
          - _207YS0123X
          - _207YX0007X
          - _207YX0602X
          - _207YX0901X
          - _207YX0905X
          - _207ZB0001X
          - _207ZC0006X
          - _207ZC0008X
          - _207ZC0500X
          - _207ZD0900X
          - _207ZF0201X
          - _207ZH0000X
          - _207ZI0100X
          - _207ZM0300X
          - _207ZN0500X
          - _207ZP0007X
          - _207ZP0101X
          - _207ZP0102X
          - _207ZP0104X
          - _207ZP0105X
          - _207ZP0213X
          - _208000000X
          - _2080A0000X
          - _2080B0002X
          - _2080C0008X
          - _2080H0002X
          - _2080I0007X
          - _2080N0001X
          - _2080P0006X
          - _2080P0008X
          - _2080P0201X
          - _2080P0202X
          - _2080P0203X
          - _2080P0204X
          - _2080P0205X
          - _2080P0206X
          - _2080P0207X
          - _2080P0208X
          - _2080P0210X
          - _2080P0214X
          - _2080P0216X
          - _2080S0010X
          - _2080S0012X
          - _2080T0002X
          - _2080T0004X
          - _208100000X
          - _2081H0002X
          - _2081N0008X
          - _2081P0004X
          - _2081P0010X
          - _2081P0301X
          - _2081P2900X
          - _2081S0010X
          - _208200000X
          - _2082S0099X
          - _2082S0105X
          - _2083A0100X
          - _2083B0002X
          - _2083C0008X
          - _2083P0011X
          - _2083P0500X
          - _2083P0901X
          - _2083S0010X
          - _2083T0002X
          - _2083X0100X
          - _2084A0401X
          - _2084A2900X
          - _2084B0002X
          - _2084B0040X
          - _2084D0003X
          - _2084F0202X
          - _2084H0002X
          - _2084N0008X
          - _2084N0400X
          - _2084N0402X
          - _2084N0600X
          - _2084P0005X
          - _2084P0015X
          - _2084P0301X
          - _2084P0800X
          - _2084P0802X
          - _2084P0804X
          - _2084P0805X
          - _2084P2900X
          - _2084S0010X
          - _2084S0012X
          - _2084V0102X
          - _2085B0100X
          - _2085D0003X
          - _2085H0002X
          - _2085N0700X
          - _2085N0904X
          - _2085P0229X
          - _2085R0001X
          - _2085R0202X
          - _2085R0203X
          - _2085R0204X
          - _2085R0205X
          - _2085U0001X
          - _208600000X
          - _2086H0002X
          - _2086S0102X
          - _2086S0105X
          - _2086S0120X
          - _2086S0122X
          - _2086S0127X
          - _2086S0129X
          - _2086X0206X
          - _208800000X
          - _2088F0040X
          - _2088P0231X
          - _208C00000X
          - _208D00000X
          - _208G00000X
          - _208M00000X
          - _208U00000X
          - _208VP0000X
          - _208VP0014X
          - _209800000X
          - _211D00000X
          - _213E00000X
          - _213EG0000X
          - _213EP0504X
          - _213EP1101X
          - _213ER0200X
          - _213ES0000X
          - _213ES0103X
          - _213ES0131X
          - _221700000X
          - _222Q00000X
          - _222Z00000X
          - _224900000X
          - _224L00000X
          - _224P00000X
          - _224Y00000X
          - _224Z00000X
          - _224ZE0001X
          - _224ZF0002X
          - _224ZL0004X
          - _224ZR0403X
          - _225000000X
          - _225100000X
          - _2251C2600X
          - _2251E1200X
          - _2251E1300X
          - _2251G0304X
          - _2251H1200X
          - _2251H1300X
          - _2251N0400X
          - _2251P0200X
          - _2251S0007X
          - _2251X0800X
          - _225200000X
          - _225400000X
          - _225500000X
          - _2255A2300X
          - _2255R0406X
          - _225600000X
          - _225700000X
          - _225800000X
          - _225A00000X
          - _225B00000X
          - _225C00000X
          - _225CA2400X
          - _225CA2500X
          - _225CX0006X
          - _225X00000X
          - _225XE0001X
          - _225XE1200X
          - _225XF0002X
          - _225XG0600X
          - _225XH1200X
          - _225XH1300X
          - _225XL0004X
          - _225XM0800X
          - _225XN1300X
          - _225XP0019X
          - _225XP0200X
          - _225XR0403X
          - _226000000X
          - _226300000X
          - _227800000X
          - _2278C0205X
          - _2278E0002X
          - _2278E1000X
          - _2278G0305X
          - _2278G1100X
          - _2278H0200X
          - _2278P1004X
          - _2278P1005X
          - _2278P1006X
          - _2278P3800X
          - _2278P3900X
          - _2278P4000X
          - _2278S1500X
          - _227900000X
          - _2279C0205X
          - _2279E0002X
          - _2279E1000X
          - _2279G0305X
          - _2279G1100X
          - _2279H0200X
          - _2279P1004X
          - _2279P1005X
          - _2279P1006X
          - _2279P3800X
          - _2279P3900X
          - _2279P4000X
          - _2279S1500X
          - _229N00000X
          - _231H00000X
          - _231HA2400X
          - _231HA2500X
          - _235500000X
          - _2355A2700X
          - _2355S0801X
          - _235Z00000X
          - _237600000X
          - _237700000X
          - _242T00000X
          - _243U00000X
          - _246Q00000X
          - _246QB0000X
          - _246QC1000X
          - _246QC2700X
          - _246QH0000X
          - _246QH0401X
          - _246QH0600X
          - _246QI0000X
          - _246QL0900X
          - _246QL0901X
          - _246QM0706X
          - _246QM0900X
          - _246R00000X
          - _246RH0600X
          - _246RM2200X
          - _246RP1900X
          - _246W00000X
          - _246X00000X
          - _246XC2901X
          - _246XC2903X
          - _246XS1301X
          - _246Y00000X
          - _246YC3301X
          - _246YC3302X
          - _246YR1600X
          - _246Z00000X
          - _246ZA2600X
          - _246ZB0301X
          - _246ZB0302X
          - _246ZB0500X
          - _246ZB0600X
          - _246ZC0007X
          - _246ZE0500X
          - _246ZE0600X
          - _246ZG0701X
          - _246ZG1000X
          - _246ZI1000X
          - _246ZN0300X
          - _246ZS0410X
          - _246ZX2200X
          - _247000000X
          - _2470A2800X
          - _247100000X
          - _2471B0102X
          - _2471C1101X
          - _2471C1106X
          - _2471C3401X
          - _2471C3402X
          - _2471M1202X
          - _2471M2300X
          - _2471N0900X
          - _2471Q0001X
          - _2471R0002X
          - _2471S1302X
          - _2471V0105X
          - _2471V0106X
          - _247200000X
          - _2472B0301X
          - _2472D0500X
          - _2472E0500X
          - _2472R0900X
          - _2472V0600X
          - _247ZC0005X
          - _251300000X
          - _251B00000X
          - _251C00000X
          - _251E00000X
          - _251F00000X
          - _251G00000X
          - _251J00000X
          - _251K00000X
          - _251S00000X
          - _251T00000X
          - _251V00000X
          - _251X00000X
          - _252Y00000X
          - _253J00000X
          - _253Z00000X
          - _261Q00000X
          - _261QA0005X
          - _261QA0006X
          - _261QA0600X
          - _261QA0900X
          - _261QA1903X
          - _261QA3000X
          - _261QB0400X
          - _261QC0050X
          - _261QC1500X
          - _261QC1800X
          - _261QD0000X
          - _261QD1600X
          - _261QE0002X
          - _261QE0700X
          - _261QE0800X
          - _261QF0050X
          - _261QF0400X
          - _261QG0250X
          - _261QH0100X
          - _261QH0700X
          - _261QI0500X
          - _261QL0400X
          - _261QM0801X
          - _261QM0850X
          - _261QM0855X
          - _261QM1000X
          - _261QM1100X
          - _261QM1101X
          - _261QM1102X
          - _261QM1103X
          - _261QM1200X
          - _261QM1300X
          - _261QM2500X
          - _261QM2800X
          - _261QM3000X
          - _261QP0904X
          - _261QP0905X
          - _261QP1100X
          - _261QP2000X
          - _261QP2300X
          - _261QP2400X
          - _261QP3300X
          - _261QR0200X
          - _261QR0206X
          - _261QR0207X
          - _261QR0208X
          - _261QR0400X
          - _261QR0401X
          - _261QR0404X
          - _261QR0405X
          - _261QR0800X
          - _261QR1100X
          - _261QR1300X
          - _261QS0112X
          - _261QS0132X
          - _261QS1000X
          - _261QS1200X
          - _261QU0200X
          - _261QV0200X
          - _261QX0100X
          - _261QX0200X
          - _261QX0203X
          - _273100000X
          - _273R00000X
          - _273Y00000X
          - _275N00000X
          - _276400000X
          - _281P00000X
          - _281PC2000X
          - _282E00000X
          - _282J00000X
          - _282N00000X
          - _282NC0060X
          - _282NC2000X
          - _282NR1301X
          - _282NW0100X
          - _283Q00000X
          - _283X00000X
          - _283XC2000X
          - _284300000X
          - _286500000X
          - _2865C1500X
          - _2865M2000X
          - _2865X1600X
          - _287300000X
          - _291900000X
          - _291U00000X
          - _292200000X
          - _293D00000X
          - _302F00000X
          - _302R00000X
          - _305R00000X
          - _305S00000X
          - _310400000X
          - _3104A0625X
          - _3104A0630X
          - _310500000X
          - _311500000X
          - _311Z00000X
          - _311ZA0620X
          - _313M00000X
          - _314000000X
          - _3140N1450X
          - _315D00000X
          - _315P00000X
          - _317400000X
          - _320600000X
          - _320700000X
          - _320800000X
          - _320900000X
          - _322D00000X
          - _323P00000X
          - _324500000X
          - _3245S0500X
          - _331L00000X
          - _332000000X
          - _332100000X
          - _332800000X
          - _332900000X
          - _332B00000X
          - _332BC3200X
          - _332BD1200X
          - _332BN1400X
          - _332BP3500X
          - _332BX2000X
          - _332G00000X
          - _332H00000X
          - _332S00000X
          - _332U00000X
          - _333300000X
          - _333600000X
          - _3336C0002X
          - _3336C0003X
          - _3336C0004X
          - _3336H0001X
          - _3336I0012X
          - _3336L0003X
          - _3336M0002X
          - _3336M0003X
          - _3336N0007X
          - _3336S0011X
          - _335E00000X
          - _335G00000X
          - _335U00000X
          - _335V00000X
          - _341600000X
          - _3416A0800X
          - _3416L0300X
          - _3416S0300X
          - _341800000X
          - _3418M1110X
          - _3418M1120X
          - _3418M1130X
          - _343800000X
          - _343900000X
          - _344600000X
          - _344800000X
          - _347B00000X
          - _347C00000X
          - _347D00000X
          - _347E00000X
          - _363A00000X
          - _363AM0700X
          - _363AS0400X
          - _363L00000X
          - _363LA2100X
          - _363LA2200X
          - _363LC0200X
          - _363LC1500X
          - _363LF0000X
          - _363LG0600X
          - _363LN0000X
          - _363LN0005X
          - _363LP0200X
          - _363LP0222X
          - _363LP0808X
          - _363LP1700X
          - _363LP2300X
          - _363LS0200X
          - _363LW0102X
          - _363LX0001X
          - _363LX0106X
          - _364S00000X
          - _364SA2100X
          - _364SA2200X
          - _364SC0200X
          - _364SC1501X
          - _364SC2300X
          - _364SE0003X
          - _364SE1400X
          - _364SF0001X
          - _364SG0600X
          - _364SH0200X
          - _364SH1100X
          - _364SI0800X
          - _364SL0600X
          - _364SM0705X
          - _364SN0000X
          - _364SN0800X
          - _364SP0200X
          - _364SP0807X
          - _364SP0808X
          - _364SP0809X
          - _364SP0810X
          - _364SP0811X
          - _364SP0812X
          - _364SP0813X
          - _364SP1700X
          - _364SP2800X
          - _364SR0400X
          - _364SS0200X
          - _364ST0500X
          - _364SW0102X
          - _364SX0106X
          - _364SX0200X
          - _364SX0204X
          - _367500000X
          - _367A00000X
          - _367H00000X
          - _372500000X
          - _372600000X
          - _373H00000X
          - _374700000X
          - _3747A0650X
          - _3747P1801X
          - _374J00000X
          - _374K00000X
          - _374T00000X
          - _374U00000X
          - _376G00000X
          - _376J00000X
          - _376K00000X
          - _385H00000X
          - _385HR2050X
          - _385HR2055X
          - _385HR2060X
          - _385HR2065X
          - _390200000X
          - _405300000X
        director:
          type: string
        supervisorName:
          type: string
        supervisorPhone:
          type: string
        supervisorEmail:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        completed:
          type: boolean
        trainingCertificate:
          $ref: '#/components/schemas/ProviderFileStub'
        programType:
          type: string
          enum:
          - FIFTH_PATHWAY
          - OTHER
          - ROTATING
          - STRAIGHT
          - TRANSITIONAL
          - UNKOWN
        trainingAddress:
          $ref: '#/components/schemas/Address'
    ProviderFileStub:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: string
          format: date-time
        name:
          type: string
        extension:
          type: string
        mimeType:
          type: string
        size:
          type: number
        fileAttachmentGuid:
          type: string
        documentType:
          type: string
          enum:
          - AdverseAction
          - Application
          - Application_Release
          - Application_Report_Csv
          - Application_Report_Txt
          - Board_Certification
          - CAQH_UPLOAD
          - CDS
          - CLIA_Certification
          - Certificate_for_Conducting_Xray_and_or_Laboratory_Services
          - Certificate_of_Advanced_Nurse_Practitioners
          - Certificate_or_Letter_Certifying_Formal_Post_Graduate_Training
          - Certificates_of_Completion
          - Chemical_Substances_or_Alcohol_Abuse
          - Correspondence
          - Criminal_Actions
          - DD214__Record_of_Military_Service
          - DEA
          - DEA_Waiver
          - DPS
          - Diploma
          - Diplomate_of_National_Board_of_Medical_Examiners_Certificate
          - Disclosure
          - Disclosure_of_Ownership
          - Drivers_License
          - ECFMG
          - Exam_Certification
          - Graduate_Diploma
          - Hospital_Letter__Verification_of_Hospital_Credentialing__or_Alternative_Pathways
          - Individual_Npi_Letter
          - Letter_of_Self_Insurance_Explanation_of_No_Insurance
          - Liability_Insurance
          - License_Application
          - License_Attachment
          - Malpractice_Claim_Information_Document_for_Nevada_State
          - Malpractice_Explanation
          - Malpractice_Insurance
          - Maryland_State_License_Certificate
          - Medical_Condition
          - Medical_Degree
          - National_Provider_Identification_Certificate
          - Opt_Out
          - Other
          - Other_Certificate
          - Photo
          - Problem_Resolution_System_Letter
          - Professional_Liability_Actions
          - Professional_Liability_Insurance
          - Radiology_Certification
          - Reference_Letter
          - Resume
          - Schedule_AP1
          - Schedule_B_Professional_Liability_Claims_Information_Form_for_Georgia_State
          - Schedule_C_Regulation_Acknowledgement
          - Scholar_Visa_IAP_66
          - Section_D___Attestation_Questions
          - Social_Security_Card
          - State_Application_Addendum
          - State_Authorization
          - State_License
          - State_License_MD
          - State_Release
          - TB_Skin_Test
          - Therapeutic_Diagnostic_Pharmaceutical_Agents_License
          - Visa_Document
          - W_9
          - Workers_Compensation_Certificate_of_Coverage
    Address:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: string
          format: date-time
        street1:
          type: string
        street2:
          type: string
        city:
          type: string
        state:
          type: string
          enum:
          - AK
          - AL
          - AR
          - AS
          - AZ
          - CA
          - CO
          - CT
          - DC
          - DE
          - FL
          - FM
          - GA
          - GU
          - HI
          - IA
          - ID
          - IL
          - IN
          - KS
          - KY
          - LA
          - MA
          - MD
          - ME
          - MH
          - MI
          - MN
          - MO
          - MP
          - MS
          - MT
          - NC
          - ND
          - NE
          - NH
          - NJ
          - NM
          - NV
          - NY
          - OH
          - OK
          - OR
          - PA
          - PR
          - PW
          - RI
          - SC
          - SD
          - TN
          - TX
          - UNKNOWN
          - UT
          - VA
          - VI
          - VT
          - WA
          - WI
          - WV
          - WY
        zip:
          type: string
        zipExtension:
          type: string
        county:
          type: string
        province:
          type: string
        country:
          type: string
          enum:
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CR
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - 'NO'
          - NP
          - NR
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SV
          - SX
          - SY
          - SZ
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XK
          - YE
          - YT
          - ZA
          - ZM
          - ZW
        phone:
          type: string
        phoneExtension:
          type: string
        phoneAfterHours:
          type: string
        phoneExtensionAfterHours:
          type: string
        fax:
          type: string
        email:
          type: string
        pager:
          type: string
        preferredCorrespondence:
          type: string
          enum:
          - EMAIL
          - FAX
          - MAIL
          - PHONE
          - UNSPECIFIED
    ResidencyAuthorizedFilterQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
        affiliatedUniversity:
          type: array
          items:
            $ref: '#/components/schemas/University'
        providerGuid:
          type: array
          items:
            type: string
    ResidencyAuthorizedSearchQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
    Institution:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        address:
          $ref: '#/components/schemas/ReferenceAddress'
        url:
          type: string
        type:
          type: string
          enum:
          - Hospital
          - MedicalGroup
          - PracticeLocation
          - University
        originalId:
          type: string
        description:
          type: string
    ReferenceAddress:
      type: object
      properties:
        street1:
          type: string
        street2:
          type: string
        city:
          type: string
        state:
          type: string
          enum:
          - AK
          - AL
          - AR
          - AS
          - AZ
          - CA
          - CO
          - CT
          - DC
          - DE
          - FL
          - FM
          - GA
          - GU
          - HI
          - IA
          - ID
          - IL
          - IN
          - KS
          - KY
          - LA
          - MA
          - MD
          - ME
          - MH
          - MI
          - MN
          - MO
          - MP
          - MS
          - MT
          - NC
          - ND
          - NE
          - NH
          - NJ
          - NM
          - NV
          - NY
          - OH
          - OK
          - OR
          - PA
          - PR
          - PW
          - RI
          - SC
          - SD
          - TN
          - TX
          - UNKNOWN
          - UT
          - VA
          - VI
          - VT
          - WA
          - WI
          - WV
          - WY
        zip:
          type: string
        zipExtension:
          type: string
        county:
          type: string
        province:
          type: string
        country:
          type: string
          enum:
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CR
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - 'NO'
          - NP
          - NR
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SV
          - SX
          - SY
          - SZ
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XK
          - YE
          - YT
          - ZA
          - ZM
          - ZW
        phone:
          type: string
        phoneExtension:
          type: string
        phoneAfterHours:
          type: string
        phoneExtensionAfterHours:
          type: string
        fax:
          type: string
        email:
          type: string
        pager:
          type: string
        preferredCorrespondence:
          type: string
          enum:
          - EMAIL
          - FAX
          - MAIL
          - PHONE
          - UNSPECIFIED
    University:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        address:
          $ref: '#/components/schemas/ReferenceAddress'
        description:
          type: string
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: api_key
      description: Madaket-issued API key. Issued on request; contact Madaket.
    auth_token:
      type: apiKey
      in: query
      name: auth_token
      description: URL-safe Base64 of SHA-256(api_key + api_secret + yyyy-mm-dd-HH-M GMT window). Valid up to 10 minutes.
