openapi: 3.2.0
info:
  title: Madaket Health Provider Criminal Action API
  version: '2.0'
  description: RESTful JSON endpoints published by Madaket Health for clean, high-quality US healthcare provider data — provider demographics, licensure, credentialing, education, sanctions and payer records.
  contact:
    name: Madaket Health
    url: https://www.madakethealth.com/
servers:
- url: https://provider.madakethealth.com/provider-services
  description: 'Production (probed 2026-08-25: HTTP 503)'
security:
- api_key: []
  auth_token: []
tags:
- name: CriminalAction
paths:
  /api/v2.0/criminal-action/filter:
    post:
      tags:
      - CriminalAction
      summary: list all CriminalAction resources using the given filter criteria
      operationId: criminalActionFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CriminalAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CriminalActionAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/criminal-action:
    get:
      tags:
      - CriminalAction
      summary: list all CriminalAction resources that belong to the given Provider
      operationId: criminalActionList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CriminalAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/criminal-action/{id}:
    get:
      tags:
      - CriminalAction
      summary: get a specific CriminalAction using its unique ID
      operationId: criminalActionLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriminalAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/criminal-action/search:
    post:
      tags:
      - CriminalAction
      summary: search through all CriminalAction resources using the given search criteria
      operationId: criminalActionSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CriminalAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CriminalActionAuthorizedSearchQuery'
components:
  schemas:
    CriminalActionAuthorizedFilterQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
        providerGuid:
          type: array
          items:
            type: string
    CriminalActionAuthorizedSearchQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
    CriminalAction:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: string
          format: date-time
        providerGuid:
          type: string
        source:
          type: string
        sourceTimestamp:
          type: string
          format: date-time
        incidentDate:
          type: string
          format: date-time
        incidentLocation:
          type: string
        complaintDate:
          type: string
          format: date-time
        resolutionDate:
          type: string
          format: date-time
        resolutionDescription:
          type: string
        allegationDescription:
          type: string
        actionsTaken:
          type: string
        currentStatus:
          type: string
        privilegesAffected:
          type: string
        sentenceServed:
          type: boolean
        sentenceLength:
          type: number
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: api_key
      description: Madaket-issued API key. Issued on request; contact Madaket.
    auth_token:
      type: apiKey
      in: query
      name: auth_token
      description: URL-safe Base64 of SHA-256(api_key + api_secret + yyyy-mm-dd-HH-M GMT window). Valid up to 10 minutes.
