openapi: 3.2.0
info:
  title: Madaket Health Provider Malpractice Claim API
  version: '2.0'
  description: 'RESTful JSON endpoints published by Madaket Health for clean, high-quality US healthcare provider data — provider demographics, licensure, credentialing, education, sanctions and payer records.


    PROVENANCE: this description was RECONSTRUCTED by API Evangelist from Madaket''s own first-party npm client @madaket/provider-api-client-js@0.0.3 (swagger-codegen 2.2.3 output), because Madaket''s published Swagger URL https://provider.madakethealth.com/provider-services/api-spec/api-spec.json returned HTTP 503 when probed on 2026-08-25. Paths, verbs, summaries, parameters, request/response models and security schemes are taken verbatim from that generated client. operationIds were normalized to <tag><Operation> because swagger-codegen namespaces them per API class and they are not globally unique in the generated output. This is NOT a document Madaket serves.'
  contact:
    name: Madaket Health
    url: https://www.madakethealth.com/
servers:
- url: https://provider.madakethealth.com/provider-services
  description: 'Production (probed 2026-08-25: HTTP 503)'
security:
- api_key: []
  auth_token: []
tags:
- name: MalpracticeClaim
paths:
  /api/v2.0/malpractice-claims/filter:
    post:
      tags:
      - MalpracticeClaim
      summary: list all MalpracticeClaim resources using the given filter criteria
      operationId: malpracticeClaimFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MalpracticeClaim'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MalpracticeClaimAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/malpractice-claims:
    get:
      tags:
      - MalpracticeClaim
      summary: list all MalpracticeClaim resources that belong to the given Provider
      operationId: malpracticeClaimList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MalpracticeClaim'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/malpractice-claims/{id}:
    get:
      tags:
      - MalpracticeClaim
      summary: get a specific MalpracticeClaim using its unique ID
      operationId: malpracticeClaimLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalpracticeClaim'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/malpractice-claims/search:
    post:
      tags:
      - MalpracticeClaim
      summary: search through all MalpracticeClaim resources using the given search criteria
      operationId: malpracticeClaimSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MalpracticeClaim'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MalpracticeClaimAuthorizedSearchQuery'
components:
  schemas:
    MalpracticeClaimAuthorizedSearchQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
    MalpracticeClaim:
      type: object
      properties:
        id:
          type: string
        createdTime:
          type: string
          format: date-time
        providerGuid:
          type: string
        source:
          type: string
        sourceTimestamp:
          type: string
          format: date-time
        inNpdb:
          type: boolean
        claimStatus:
          type: string
        allegationDescription:
          type: string
        patientOutcomeDescription:
          type: string
        occurrenceDate:
          type: string
          format: date-time
        claimDate:
          type: string
          format: date-time
        claimNumber:
          type: string
        soughtAmount:
          type: number
        settlementAmount:
          type: number
    MalpracticeClaimAuthorizedFilterQuery:
      type: object
      properties:
        id:
          type: array
          items:
            type: string
        maxResults:
          type: number
        firstResult:
          type: number
        sortField:
          type: string
        sortOrder:
          type: string
          enum:
          - ASC
          - DESC
        providerGuid:
          type: array
          items:
            type: string
  securitySchemes:
    api_key:
      type: apiKey
      in: query
      name: api_key
      description: Madaket-issued API key. Issued on request; contact Madaket.
    auth_token:
      type: apiKey
      in: query
      name: auth_token
      description: URL-safe Base64 of SHA-256(api_key + api_secret + yyyy-mm-dd-HH-M GMT window). Valid up to 10 minutes.
