openapi: 3.0.3
info:
  title: Madaket Health Provider API
  version: '2.0'
  description: 'RESTful JSON endpoints published by Madaket Health for clean, high-quality US healthcare
    provider data — provider demographics, licensure, credentialing, education, sanctions and payer records.


    PROVENANCE: this description was RECONSTRUCTED by API Evangelist from Madaket''s own first-party npm
    client @madaket/provider-api-client-js@0.0.3 (swagger-codegen 2.2.3 output), because Madaket''s published
    Swagger URL https://provider.madakethealth.com/provider-services/api-spec/api-spec.json returned HTTP
    503 when probed on 2026-08-25. Paths, verbs, summaries, parameters, request/response models and security
    schemes are taken verbatim from that generated client. operationIds were normalized to <tag><Operation>
    because swagger-codegen namespaces them per API class and they are not globally unique in the generated
    output. This is NOT a document Madaket serves.'
  contact:
    name: Madaket Health
    url: https://www.madakethealth.com/
servers:
- url: https://provider.madakethealth.com/provider-services
  description: 'Production (probed 2026-08-25: HTTP 503)'
tags:
- name: AdverseAction
- name: AreaOfStudy
- name: Board
- name: CdsLicense
- name: CommercialPayer
- name: CriminalAction
- name: DeaLicense
- name: Degree
- name: DisclosureStatement
- name: DriversLicense
- name: Education
- name: EmploymentGap
- name: Ethnicity
- name: Fellowship
- name: GraduateEducation
- name: Hospital
- name: HospitalPrivilege
- name: IndividualNpiLetter
- name: Institution
- name: InsuranceCarrier
- name: Internship
- name: LiabilityAction
- name: LicenseAuthority
- name: MalpracticeClaim
- name: MedicaidRecord
- name: MedicalDegree
- name: MedicareRecord
- name: MilitaryRecord
- name: OigExclusionCode
- name: OtherProfessionalTraining
- name: PersonalIdentification
- name: PracticeDepartment
- name: ProfessionalLicense
- name: Provider
- name: ProviderCertification
- name: ProviderCredentialingContact
- name: ProviderEcfmg
- name: ProviderFileAttachment
- name: ProviderFileStub
- name: ProviderInsurance
- name: ProviderPerson
- name: ProviderPractice
- name: ProviderReference
- name: ProviderSpecialty
- name: ProviderUsmle
- name: ProviderW9
- name: Race
- name: Residency
- name: Resume
- name: SocialSecurityCard
- name: Specialty
- name: SpecialtyTaxonomy
- name: SpokenLanguage
- name: StaffCategory
- name: SubstanceAbuseRecord
- name: University
- name: WorkEntry
paths:
  /api/v2.0/adverse-action/filter:
    post:
      tags:
      - AdverseAction
      summary: list all AdverseAction resources using the given filter criteria
      operationId: adverseActionFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdverseAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdverseActionAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/adverse-action:
    get:
      tags:
      - AdverseAction
      summary: list all AdverseAction resources that belong to the given Provider
      operationId: adverseActionList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdverseAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/adverse-action/{id}:
    get:
      tags:
      - AdverseAction
      summary: get a specific AdverseAction using its unique ID
      operationId: adverseActionLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdverseAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/adverse-action/search:
    post:
      tags:
      - AdverseAction
      summary: search through all AdverseAction resources using the given search criteria
      operationId: adverseActionSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdverseAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdverseActionAuthorizedSearchQuery'
  /api/v2.0/area-of-study/filter:
    post:
      tags:
      - AreaOfStudy
      summary: list all AreaOfStudy resources using the given filter criteria
      operationId: areaOfStudyFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AreaOfStudy'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AreaOfStudyFilterQuery'
  /api/v2.0/area-of-study/{id}:
    get:
      tags:
      - AreaOfStudy
      summary: get a specific AreaOfStudy using its unique ID
      operationId: areaOfStudyLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreaOfStudy'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/area-of-study/search:
    post:
      tags:
      - AreaOfStudy
      summary: search through all AreaOfStudy resources using the given search criteria
      operationId: areaOfStudySearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AreaOfStudy'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AreaOfStudySearchQuery'
  /api/v2.0/board/filter:
    post:
      tags:
      - Board
      summary: list all Board resources using the given filter criteria
      operationId: boardFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Board'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardFilterQuery'
  /api/v2.0/board/{id}:
    get:
      tags:
      - Board
      summary: get a specific Board using its unique ID
      operationId: boardLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/board/search:
    post:
      tags:
      - Board
      summary: search through all Board resources using the given search criteria
      operationId: boardSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Board'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardSearchQuery'
  /api/v2.0/cds-license/filter:
    post:
      tags:
      - CdsLicense
      summary: list all CdsLicense resources using the given filter criteria
      operationId: cdsLicenseFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CdsLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CdsLicenseAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/cds-license:
    get:
      tags:
      - CdsLicense
      summary: list all CdsLicense resources that belong to the given Provider
      operationId: cdsLicenseList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CdsLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/cds-license/{id}:
    get:
      tags:
      - CdsLicense
      summary: get a specific CdsLicense using its unique ID
      operationId: cdsLicenseLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdsLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/cds-license/search:
    post:
      tags:
      - CdsLicense
      summary: search through all CdsLicense resources using the given search criteria
      operationId: cdsLicenseSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CdsLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CdsLicenseAuthorizedSearchQuery'
  /api/v2.0/commercial-payer/filter:
    post:
      tags:
      - CommercialPayer
      summary: list all CommercialPayer resources using the given filter criteria
      operationId: commercialPayerFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommercialPayer'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommercialPayerAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/commercial-payer:
    get:
      tags:
      - CommercialPayer
      summary: list all CommercialPayer resources that belong to the given Provider
      operationId: commercialPayerList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommercialPayer'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/commercial-payer/{id}:
    get:
      tags:
      - CommercialPayer
      summary: get a specific CommercialPayer using its unique ID
      operationId: commercialPayerLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommercialPayer'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/commercial-payer/search:
    post:
      tags:
      - CommercialPayer
      summary: search through all CommercialPayer resources using the given search criteria
      operationId: commercialPayerSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommercialPayer'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommercialPayerAuthorizedSearchQuery'
  /api/v2.0/criminal-action/filter:
    post:
      tags:
      - CriminalAction
      summary: list all CriminalAction resources using the given filter criteria
      operationId: criminalActionFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CriminalAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CriminalActionAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/criminal-action:
    get:
      tags:
      - CriminalAction
      summary: list all CriminalAction resources that belong to the given Provider
      operationId: criminalActionList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CriminalAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/criminal-action/{id}:
    get:
      tags:
      - CriminalAction
      summary: get a specific CriminalAction using its unique ID
      operationId: criminalActionLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriminalAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/criminal-action/search:
    post:
      tags:
      - CriminalAction
      summary: search through all CriminalAction resources using the given search criteria
      operationId: criminalActionSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CriminalAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CriminalActionAuthorizedSearchQuery'
  /api/v2.0/dea-license/filter:
    post:
      tags:
      - DeaLicense
      summary: list all DeaLicense resources using the given filter criteria
      operationId: deaLicenseFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeaLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeaLicenseAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/dea-license:
    get:
      tags:
      - DeaLicense
      summary: list all DeaLicense resources that belong to the given Provider
      operationId: deaLicenseList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeaLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/dea-license/{id}:
    get:
      tags:
      - DeaLicense
      summary: get a specific DeaLicense using its unique ID
      operationId: deaLicenseLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeaLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/dea-license/search:
    post:
      tags:
      - DeaLicense
      summary: search through all DeaLicense resources using the given search criteria
      operationId: deaLicenseSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeaLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeaLicenseAuthorizedSearchQuery'
  /api/v2.0/degree/filter:
    post:
      tags:
      - Degree
      summary: list all Degree resources using the given filter criteria
      operationId: degreeFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Degree'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DegreeFilterQuery'
  /api/v2.0/degree/{id}:
    get:
      tags:
      - Degree
      summary: get a specific Degree using its unique ID
      operationId: degreeLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Degree'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/degree/search:
    post:
      tags:
      - Degree
      summary: search through all Degree resources using the given search criteria
      operationId: degreeSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Degree'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DegreeSearchQuery'
  /api/v2.0/disclosure-statement/filter:
    post:
      tags:
      - DisclosureStatement
      summary: list all DisclosureStatement resources using the given filter criteria
      operationId: disclosureStatementFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DisclosureStatement'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisclosureStatementFilterQuery'
  /api/v2.0/disclosure-statement/{id}:
    get:
      tags:
      - DisclosureStatement
      summary: get a specific DisclosureStatement using its unique ID
      operationId: disclosureStatementLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisclosureStatement'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/disclosure-statement/search:
    post:
      tags:
      - DisclosureStatement
      summary: search through all DisclosureStatement resources using the given search criteria
      operationId: disclosureStatementSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DisclosureStatement'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisclosureStatementSearchQuery'
  /api/v2.0/provider-drivers-license/filter:
    post:
      tags:
      - DriversLicense
      summary: list all DriversLicense resources using the given filter criteria
      operationId: driversLicenseFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DriversLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriversLicenseAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/provider-drivers-license:
    get:
      tags:
      - DriversLicense
      summary: list all DriversLicense resources that belong to the given Provider
      operationId: driversLicenseList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DriversLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/provider-drivers-license/{id}:
    get:
      tags:
      - DriversLicense
      summary: get a specific DriversLicense using its unique ID
      operationId: driversLicenseLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriversLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/provider-drivers-license/search:
    post:
      tags:
      - DriversLicense
      summary: search through all DriversLicense resources using the given search criteria
      operationId: driversLicenseSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DriversLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriversLicenseAuthorizedSearchQuery'
  /api/v2.0/education/filter:
    post:
      tags:
      - Education
      summary: list all Education resources using the given filter criteria
      operationId: educationFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Education'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EducationAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/education:
    get:
      tags:
      - Education
      summary: list all Education resources that belong to the given Provider
      operationId: educationList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Education'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/education/{id}:
    get:
      tags:
      - Education
      summary: get a specific Education using its unique ID
      operationId: educationLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Education'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/education/search:
    post:
      tags:
      - Education
      summary: search through all Education resources using the given search criteria
      operationId: educationSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Education'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EducationAuthorizedSearchQuery'
  /api/v2.0/employment-gap/filter:
    post:
      tags:
      - EmploymentGap
      summary: list all EmploymentGap resources using the given filter criteria
      operationId: employmentGapFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmploymentGap'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentGapAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/employment-gap:
    get:
      tags:
      - EmploymentGap
      summary: list all EmploymentGap resources that belong to the given Provider
      operationId: employmentGapList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmploymentGap'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/employment-gap/{id}:
    get:
      tags:
      - EmploymentGap
      summary: get a specific EmploymentGap using its unique ID
      operationId: employmentGapLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentGap'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/employment-gap/search:
    post:
      tags:
      - EmploymentGap
      summary: search through all EmploymentGap resources using the given search criteria
      operationId: employmentGapSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmploymentGap'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentGapAuthorizedSearchQuery'
  /api/v2.0/ethnicity/filter:
    post:
      tags:
      - Ethnicity
      summary: list all Ethnicity resources using the given filter criteria
      operationId: ethnicityFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ethnicity'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EthnicityFilterQuery'
  /api/v2.0/ethnicity/{id}:
    get:
      tags:
      - Ethnicity
      summary: get a specific Ethnicity using its unique ID
      operationId: ethnicityLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ethnicity'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/ethnicity/search:
    post:
      tags:
      - Ethnicity
      summary: search through all Ethnicity resources using the given search criteria
      operationId: ethnicitySearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ethnicity'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EthnicitySearchQuery'
  /api/v2.0/fellowship/filter:
    post:
      tags:
      - Fellowship
      summary: list all Fellowship resources using the given filter criteria
      operationId: fellowshipFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fellowship'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FellowshipAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/fellowship:
    get:
      tags:
      - Fellowship
      summary: list all Fellowship resources that belong to the given Provider
      operationId: fellowshipList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fellowship'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/fellowship/{id}:
    get:
      tags:
      - Fellowship
      summary: get a specific Fellowship using its unique ID
      operationId: fellowshipLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fellowship'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/fellowship/search:
    post:
      tags:
      - Fellowship
      summary: search through all Fellowship resources using the given search criteria
      operationId: fellowshipSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fellowship'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FellowshipAuthorizedSearchQuery'
  /api/v2.0/graduate-education/filter:
    post:
      tags:
      - GraduateEducation
      summary: list all GraduateEducation resources using the given filter criteria
      operationId: graduateEducationFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GraduateEducation'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraduateEducationAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/graduate-education:
    get:
      tags:
      - GraduateEducation
      summary: list all GraduateEducation resources that belong to the given Provider
      operationId: graduateEducationList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GraduateEducation'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/graduate-education/{id}:
    get:
      tags:
      - GraduateEducation
      summary: get a specific GraduateEducation using its unique ID
      operationId: graduateEducationLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraduateEducation'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/graduate-education/search:
    post:
      tags:
      - GraduateEducation
      summary: search through all GraduateEducation resources using the given search criteria
      operationId: graduateEducationSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GraduateEducation'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraduateEducationAuthorizedSearchQuery'
  /api/v2.0/hospital/filter:
    post:
      tags:
      - Hospital
      summary: list all Hospital resources using the given filter criteria
      operationId: hospitalFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Hospital'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HospitalFilterQuery'
  /api/v2.0/hospital/{id}:
    get:
      tags:
      - Hospital
      summary: get a specific Hospital using its unique ID
      operationId: hospitalLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hospital'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/hospital/search:
    post:
      tags:
      - Hospital
      summary: search through all Hospital resources using the given search criteria
      operationId: hospitalSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Hospital'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HospitalSearchQuery'
  /api/v2.0/hospital-privilege/filter:
    post:
      tags:
      - HospitalPrivilege
      summary: list all HospitalPrivilege resources using the given filter criteria
      operationId: hospitalPrivilegeFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HospitalPrivilege'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HospitalPrivilegeAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/hospital-privilege:
    get:
      tags:
      - HospitalPrivilege
      summary: list all HospitalPrivilege resources that belong to the given Provider
      operationId: hospitalPrivilegeList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HospitalPrivilege'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/hospital-privilege/{id}:
    get:
      tags:
      - HospitalPrivilege
      summary: get a specific HospitalPrivilege using its unique ID
      operationId: hospitalPrivilegeLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HospitalPrivilege'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/hospital-privilege/search:
    post:
      tags:
      - HospitalPrivilege
      summary: search through all HospitalPrivilege resources using the given search criteria
      operationId: hospitalPrivilegeSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HospitalPrivilege'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HospitalPrivilegeAuthorizedSearchQuery'
  /api/v2.0/individual-npi-letter/filter:
    post:
      tags:
      - IndividualNpiLetter
      summary: list all IndividualNpiLetter resources using the given filter criteria
      operationId: individualNpiLetterFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndividualNpiLetter'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndividualNpiLetterAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/individual-npi-letter:
    get:
      tags:
      - IndividualNpiLetter
      summary: list all IndividualNpiLetter resources that belong to the given Provider
      operationId: individualNpiLetterList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndividualNpiLetter'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/individual-npi-letter/{id}:
    get:
      tags:
      - IndividualNpiLetter
      summary: get a specific IndividualNpiLetter using its unique ID
      operationId: individualNpiLetterLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualNpiLetter'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/individual-npi-letter/search:
    post:
      tags:
      - IndividualNpiLetter
      summary: search through all IndividualNpiLetter resources using the given search criteria
      operationId: individualNpiLetterSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndividualNpiLetter'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndividualNpiLetterAuthorizedSearchQuery'
  /api/v2.0/institution/filter:
    post:
      tags:
      - Institution
      summary: list all Institution resources using the given filter criteria
      operationId: institutionFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Institution'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstitutionFilterQuery'
  /api/v2.0/institution/{id}:
    get:
      tags:
      - Institution
      summary: get a specific Institution using its unique ID
      operationId: institutionLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/institution/search:
    post:
      tags:
      - Institution
      summary: search through all Institution resources using the given search criteria
      operationId: institutionSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Institution'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstitutionSearchQuery'
  /api/v2.0/insurance-carrier/filter:
    post:
      tags:
      - InsuranceCarrier
      summary: list all InsuranceCarrier resources using the given filter criteria
      operationId: insuranceCarrierFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InsuranceCarrier'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceCarrierFilterQuery'
  /api/v2.0/insurance-carrier/{id}:
    get:
      tags:
      - InsuranceCarrier
      summary: get a specific InsuranceCarrier using its unique ID
      operationId: insuranceCarrierLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceCarrier'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/insurance-carrier/search:
    post:
      tags:
      - InsuranceCarrier
      summary: search through all InsuranceCarrier resources using the given search criteria
      operationId: insuranceCarrierSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InsuranceCarrier'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceCarrierSearchQuery'
  /api/v2.0/internship/filter:
    post:
      tags:
      - Internship
      summary: list all Internship resources using the given filter criteria
      operationId: internshipFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Internship'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternshipAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/internship:
    get:
      tags:
      - Internship
      summary: list all Internship resources that belong to the given Provider
      operationId: internshipList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Internship'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/internship/{id}:
    get:
      tags:
      - Internship
      summary: get a specific Internship using its unique ID
      operationId: internshipLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Internship'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/internship/search:
    post:
      tags:
      - Internship
      summary: search through all Internship resources using the given search criteria
      operationId: internshipSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Internship'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternshipAuthorizedSearchQuery'
  /api/v2.0/liability-action/filter:
    post:
      tags:
      - LiabilityAction
      summary: list all LiabilityAction resources using the given filter criteria
      operationId: liabilityActionFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LiabilityAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiabilityActionAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/liability-action:
    get:
      tags:
      - LiabilityAction
      summary: list all LiabilityAction resources that belong to the given Provider
      operationId: liabilityActionList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LiabilityAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/liability-action/{id}:
    get:
      tags:
      - LiabilityAction
      summary: get a specific LiabilityAction using its unique ID
      operationId: liabilityActionLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiabilityAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/liability-action/search:
    post:
      tags:
      - LiabilityAction
      summary: search through all LiabilityAction resources using the given search criteria
      operationId: liabilityActionSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LiabilityAction'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiabilityActionAuthorizedSearchQuery'
  /api/v2.0/license-authority/filter:
    post:
      tags:
      - LicenseAuthority
      summary: list all LicenseAuthority resources using the given filter criteria
      operationId: licenseAuthorityFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LicenseAuthority'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseAuthorityFilterQuery'
  /api/v2.0/license-authority/{id}:
    get:
      tags:
      - LicenseAuthority
      summary: get a specific LicenseAuthority using its unique ID
      operationId: licenseAuthorityLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseAuthority'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/license-authority/search:
    post:
      tags:
      - LicenseAuthority
      summary: search through all LicenseAuthority resources using the given search criteria
      operationId: licenseAuthoritySearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LicenseAuthority'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseAuthoritySearchQuery'
  /api/v2.0/malpractice-claims/filter:
    post:
      tags:
      - MalpracticeClaim
      summary: list all MalpracticeClaim resources using the given filter criteria
      operationId: malpracticeClaimFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MalpracticeClaim'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MalpracticeClaimAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/malpractice-claims:
    get:
      tags:
      - MalpracticeClaim
      summary: list all MalpracticeClaim resources that belong to the given Provider
      operationId: malpracticeClaimList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MalpracticeClaim'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/malpractice-claims/{id}:
    get:
      tags:
      - MalpracticeClaim
      summary: get a specific MalpracticeClaim using its unique ID
      operationId: malpracticeClaimLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalpracticeClaim'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/malpractice-claims/search:
    post:
      tags:
      - MalpracticeClaim
      summary: search through all MalpracticeClaim resources using the given search criteria
      operationId: malpracticeClaimSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MalpracticeClaim'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MalpracticeClaimAuthorizedSearchQuery'
  /api/v2.0/medicaid-record/filter:
    post:
      tags:
      - MedicaidRecord
      summary: list all MedicaidRecord resources using the given filter criteria
      operationId: medicaidRecordFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicaidRecord'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicaidRecordAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/medicaid-record:
    get:
      tags:
      - MedicaidRecord
      summary: list all MedicaidRecord resources that belong to the given Provider
      operationId: medicaidRecordList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicaidRecord'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/medicaid-record/{id}:
    get:
      tags:
      - MedicaidRecord
      summary: get a specific MedicaidRecord using its unique ID
      operationId: medicaidRecordLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicaidRecord'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/medicaid-record/search:
    post:
      tags:
      - MedicaidRecord
      summary: search through all MedicaidRecord resources using the given search criteria
      operationId: medicaidRecordSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicaidRecord'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicaidRecordAuthorizedSearchQuery'
  /api/v2.0/medical-degree/filter:
    post:
      tags:
      - MedicalDegree
      summary: list all MedicalDegree resources using the given filter criteria
      operationId: medicalDegreeFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicalDegree'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicalDegreeAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/medical-degree:
    get:
      tags:
      - MedicalDegree
      summary: list all MedicalDegree resources that belong to the given Provider
      operationId: medicalDegreeList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicalDegree'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/medical-degree/{id}:
    get:
      tags:
      - MedicalDegree
      summary: get a specific MedicalDegree using its unique ID
      operationId: medicalDegreeLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalDegree'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/medical-degree/search:
    post:
      tags:
      - MedicalDegree
      summary: search through all MedicalDegree resources using the given search criteria
      operationId: medicalDegreeSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicalDegree'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicalDegreeAuthorizedSearchQuery'
  /api/v2.0/medicare-record/filter:
    post:
      tags:
      - MedicareRecord
      summary: list all MedicareRecord resources using the given filter criteria
      operationId: medicareRecordFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicareRecord'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicareRecordAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/medicare-record:
    get:
      tags:
      - MedicareRecord
      summary: list all MedicareRecord resources that belong to the given Provider
      operationId: medicareRecordList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicareRecord'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/medicare-record/{id}:
    get:
      tags:
      - MedicareRecord
      summary: get a specific MedicareRecord using its unique ID
      operationId: medicareRecordLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicareRecord'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/medicare-record/search:
    post:
      tags:
      - MedicareRecord
      summary: search through all MedicareRecord resources using the given search criteria
      operationId: medicareRecordSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicareRecord'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicareRecordAuthorizedSearchQuery'
  /api/v2.0/military-record/filter:
    post:
      tags:
      - MilitaryRecord
      summary: list all MilitaryRecord resources using the given filter criteria
      operationId: militaryRecordFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MilitaryRecord'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MilitaryRecordAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/military-record:
    get:
      tags:
      - MilitaryRecord
      summary: list all MilitaryRecord resources that belong to the given Provider
      operationId: militaryRecordList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MilitaryRecord'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/military-record/{id}:
    get:
      tags:
      - MilitaryRecord
      summary: get a specific MilitaryRecord using its unique ID
      operationId: militaryRecordLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MilitaryRecord'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/military-record/search:
    post:
      tags:
      - MilitaryRecord
      summary: search through all MilitaryRecord resources using the given search criteria
      operationId: militaryRecordSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MilitaryRecord'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MilitaryRecordAuthorizedSearchQuery'
  /api/v2.0/oig-exclusion-code/{code}:
    get:
      tags:
      - OigExclusionCode
      summary: gives the friendly name for the given Oig Exclusion code
      operationId: oigExclusionCodeDescribe
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OigExclusion'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/oig-exclusion-code:
    get:
      tags:
      - OigExclusionCode
      summary: lists all available Oig Exclusion reasons with their definitions
      operationId: oigExclusionCodeListAll
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OigExclusion'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
  /api/v2.0/other-professional-training/filter:
    post:
      tags:
      - OtherProfessionalTraining
      summary: list all OtherProfessionalTraining resources using the given filter criteria
      operationId: otherProfessionalTrainingFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OtherProfessionalTraining'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtherProfessionalTrainingAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/other-professional-training:
    get:
      tags:
      - OtherProfessionalTraining
      summary: list all OtherProfessionalTraining resources that belong to the given Provider
      operationId: otherProfessionalTrainingList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OtherProfessionalTraining'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/other-professional-training/{id}:
    get:
      tags:
      - OtherProfessionalTraining
      summary: get a specific OtherProfessionalTraining using its unique ID
      operationId: otherProfessionalTrainingLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtherProfessionalTraining'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/other-professional-training/search:
    post:
      tags:
      - OtherProfessionalTraining
      summary: search through all OtherProfessionalTraining resources using the given search criteria
      operationId: otherProfessionalTrainingSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OtherProfessionalTraining'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtherProfessionalTrainingAuthorizedSearchQuery'
  /api/v2.0/personal-identification/filter:
    post:
      tags:
      - PersonalIdentification
      summary: list all PersonalIdentification resources using the given filter criteria
      operationId: personalIdentificationFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PersonalIdentification'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalIdentificationAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/personal-identification:
    get:
      tags:
      - PersonalIdentification
      summary: list all PersonalIdentification resources that belong to the given Provider
      operationId: personalIdentificationList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PersonalIdentification'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/personal-identification/{id}:
    get:
      tags:
      - PersonalIdentification
      summary: get a specific PersonalIdentification using its unique ID
      operationId: personalIdentificationLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalIdentification'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/personal-identification/search:
    post:
      tags:
      - PersonalIdentification
      summary: search through all PersonalIdentification resources using the given search criteria
      operationId: personalIdentificationSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PersonalIdentification'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalIdentificationAuthorizedSearchQuery'
  /api/v2.0/practice-department/filter:
    post:
      tags:
      - PracticeDepartment
      summary: list all PracticeDepartment resources using the given filter criteria
      operationId: practiceDepartmentFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PracticeDepartment'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PracticeDepartmentFilterQuery'
  /api/v2.0/practice-department/{id}:
    get:
      tags:
      - PracticeDepartment
      summary: get a specific PracticeDepartment using its unique ID
      operationId: practiceDepartmentLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PracticeDepartment'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/practice-department/search:
    post:
      tags:
      - PracticeDepartment
      summary: search through all PracticeDepartment resources using the given search criteria
      operationId: practiceDepartmentSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PracticeDepartment'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PracticeDepartmentSearchQuery'
  /api/v2.0/professional-license/filter:
    post:
      tags:
      - ProfessionalLicense
      summary: list all ProfessionalLicense resources using the given filter criteria
      operationId: professionalLicenseFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProfessionalLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfessionalLicenseAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/professional-license:
    get:
      tags:
      - ProfessionalLicense
      summary: list all ProfessionalLicense resources that belong to the given Provider
      operationId: professionalLicenseList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProfessionalLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/professional-license/{id}:
    get:
      tags:
      - ProfessionalLicense
      summary: get a specific ProfessionalLicense using its unique ID
      operationId: professionalLicenseLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfessionalLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/professional-license/search:
    post:
      tags:
      - ProfessionalLicense
      summary: search through all ProfessionalLicense resources using the given search criteria
      operationId: professionalLicenseSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProfessionalLicense'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfessionalLicenseAuthorizedSearchQuery'
  /api/v2.0/aggregation-request:
    post:
      tags:
      - Provider
      summary: request refresh of Provider data from available primary sources
      operationId: providerAggregateSources
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregationRequest'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AggregationRequestStub'
  /api/v2.0/provider/filter:
    post:
      tags:
      - Provider
      summary: list existing Madaket Providers using the given criteria
      operationId: providerList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Provider'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderFilterQuery'
  /api/v2.0/provider/query:
    post:
      tags:
      - Provider
      summary: Retrieve provider information from NPPES
      operationId: providerList1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NppesRecord'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NppesPocProviderQuery'
  /api/v2.0/provider/{id}:
    get:
      tags:
      - Provider
      summary: Get basic Provider info using its unique Madaket ID
      operationId: providerLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/provider/{id}/full:
    get:
      tags:
      - Provider
      summary: Get full Provider Details using its unique Madaket ID
      operationId: providerLoadFullContext
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderContext'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/provider/search:
    post:
      tags:
      - Provider
      summary: search available Providers, returning ranked results
      operationId: providerSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderMatchCandidate'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderDataSourceQuery'
  /api/v2.0/provider-certification/filter:
    post:
      tags:
      - ProviderCertification
      summary: list all ProviderCertification resources using the given filter criteria
      operationId: providerCertificationFilter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderCertification'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCertificationAuthorizedFilterQuery'
  /api/v2.0/provider/{providerGuid}/provider-certification:
    get:
      tags:
      - ProviderCertification
      summary: list all ProviderCertification resources that belong to the given Provider
      operationId: providerCertificationList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderCertification'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: providerGuid
        in: path
        required: true
        schema:
          type: string
  /api/v2.0/provider-certification/{id}:
    get:
      tags:
      - ProviderCertification
      summary: get a specific ProviderCertification using its unique ID
      operationId: providerCertificationLoad
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCertification'
        '401':
          description: Authentication failed - missing or invalid api_key / auth_token
        '404':
          description: Resource not found
      parameters:
      - name: id
[...]
